<div class="container">
  <div class="alert alert-danger">
    <h4>Activation Error</h4>
    <p><%= message %></p>
    <a href="/signup" class="btn btn-primary">Back to Registration</a>
  </div>
</div>
