<div class="container">
  <div class="alert alert-success">
    <h4>Account Activated!</h4>
    <p>Your account has been successfully activated. You can now login.</p>
    <a href="/signin" class="btn btn-primary">Login</a>
  </div>
</div>
