.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
  width: 400px;
  position: relative;
}

@keyframes popUp {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-title {
  font-size: 24px;
  color: #0b5925;
  margin-bottom: 15px;
}

.popup-description {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}

.btn-shop-now {
  background-color: #0b5925;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-shop-now:hover {
  background-color: #0b5925;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #0b5925;
}

.popup-image {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.popup-content {
  animation: popUp 0.6s ease-out;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
}

.carousel-caption h5 {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
}

.carousel-caption p {
  font-size: 18px;
  color: #000000;
  padding: 5px;
  border-radius: 5px;
}

.carousel-caption .btn {
  background-color: #28a745;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  margin-top: 10px;
  text-transform: uppercase;
}

.carousel-caption .btn:hover {
  background-color: #218838;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: #28a745;
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  color: #218838;
}

.carousel {
  background-color: transparent;
}
